<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								员工姓名：<input type="text" name="userName"/>
							</li>

							<li class="select-time">
								<label>打卡时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="onClock()">
					<i class="fa fa-plus"></i> 打卡
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:clock:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:clock:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:clock:remove')}]];
        var prefix = ctx + "system/clock";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "员工考勤",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'clockId', 
					title : '考勤编号',
					visible: false
				},
				{
					field : 'userId', 
					title : '员工id',
					sortable: true
				},
				{
					field : 'userName', 
					title : '员工姓名',
					sortable: true
				},
				{
					field : 'beginTime', 
					title : '上班时间',
					sortable: true
				},
				{
					field : 'endTime', 
					title : '下班时间',
					sortable: true
				},
				{
					field : 'clockStatus', 
					title : '考勤状态',
					sortable: true
				}]
            };
            $.table.init(options);
        });
        function onClock() {
            $.operate.save(prefix + "/add",null);
        }
    </script>
</body>
</html>
