<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
    <div class="form-content">
        <form class="form-horizontal" id="form-user-edit" th:object="${user}">
            <input name="userId"  type="hidden"  th:field="*{userId}" />
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>用户名称：</label>
                        <div class="col-sm-8">
                            <input name="userName" autocomplete="off" placeholder="请输入用户名称" class="form-control" type="text" th:field="*{userName}" required disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归属部门：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input class="form-control" type="text" name="deptName" id="treeName" th:field="*{dept.deptName}" required disabled="disabled">
                            	<span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>手机号码：</label>
                        <div class="col-sm-8">
                            <input name="phonenumber" autocomplete="off" placeholder="请输入手机号码" class="form-control" type="text" maxlength="11" th:field="*{phonenumber}" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>邮箱：</label>
                        <div class="col-sm-8">
                            <input name="email" autocomplete="off" class="form-control email" type="text" maxlength="50" placeholder="请输入邮箱" th:field="*{email}" disabled="disabled">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>登录账号：</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" readonly="true" th:field="*{loginName}" disabled="disabled"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">用户状态：</label>
                        <div class="col-sm-8">
                            <div class="onoffswitch">
		                         <input type="checkbox" th:checked="${user.status == '0' ? true : false}" class="onoffswitch-checkbox" id="status" disabled="disabled">
		                         <label class="onoffswitch-label" for="status">
		                             <span class="onoffswitch-inner"></span>
		                             <span class="onoffswitch-switch"></span>
		                         </label>
		                     </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">岗位：</label>
                        <div class="col-sm-8">
                            <select id="post" class="form-control select2-hidden-accessible" multiple="" disabled="disabled">
								<option th:each="post:${posts}" th:value="${post.postId}" th:text="${post.postName}" th:selected="${post.flag}" th:disabled="${post.status == '1'}"></option>
							</select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">用户性别：</label>
                        <div class="col-sm-8">
                            <div class="input-group" style="width: 100%">
                               <select name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}" disabled="disabled">
				                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{sex}"></option>
				                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">角色：</label>
                        <div class="col-xs-10">
                            <label th:each="role:${roles}" class="check-box">
								<input name="role" type="checkbox" th:value="${role.roleId}" th:text="${role.roleName}" th:checked="${role.flag}" th:disabled="${role.status == '1'}" >
							</label>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">合同信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>合同编号：</label>
                        <div class="col-sm-8">
                            <input name="contractName" autocomplete="off"  class="form-control" type="text" maxlength="30"
                                   th:value="*{contractName}" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>绩效薪资：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="awardSalary" name="contractPeriod" th:value="*{awardSalary}" class="form-control" type="text" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>主要薪资：</label>
                        <div class="col-sm-8">
                            <input name="majorSalary" autocomplete="off" class="form-control" type="text" th:field="*{majorSalary}" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>合约时间：</label>
                        <div class="col-sm-8">
                            <input name="contractPeriod" autocomplete="off" class="form-control" type="text" maxlength="50" th:field="*{contractPeriod}" disabled="disabled">
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-sm-6">-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label"><span style="color: red; ">*</span>身份证照：</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<img th:src="*{idcardUrl}" th:width="260px" th:height="245px">-->
                            <!--&lt;!&ndash;<input class="form-control" type="text" readonly="true" th:field="*{contract.idcardUrl}" disabled="disabled"/>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea name="remark" autocomplete="off" maxlength="500" class="form-control" rows="3" disabled="disabled">[[*{remark}]]</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
</body>
</html>
